{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    {% if False in dones %}
    <meta http-equiv="refresh" content="4">
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>PLANTDOCTOR.NG | Home</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'core/moon/css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'core/moon/css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'core/moon/css/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="/static/core/moon/images/favicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'core/moon/css/jquery.mCustomScrollbar.min.css' %}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout ">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="/static/core/moon/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">

            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="{% url 'home' %}"><h4 style="color:white;"><img style="max-width:50px;" src="/static/core/moon/images/logo.png" alt="#">PLANTDOCTOR.NG</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="location_icon_bottum_tt">
                            <ul>
                                <li><img src="/static/core/moon/icon/loc1.png" />Location</li>
                                <li><img src="/static/core/moon/icon/email1.png" />ay.python@gmail.com</li>

                                <li><img src="/static/core/moon/icon/call1.png" />(+234)8136628035</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 location_icon_bottum">
                       <div class="row">
                            <div class="col-md-12 ">
                                <div class="menu-area">
                                    <div class="limit-box">
                                        <nav class="main-menu">
                                            <ul class="menu-area-main">
                                                <li class="active"> <a href="{% url 'home' %}">Home</a></li>
                                                <li><a href="https://cassavadiseases.pythonanywhere.com/#about">About</a></li>
                                                <li><a href="https://cassavadiseases.pythonanywhere.com/#product">Products</a></li>
                                                <li><a href="https://cassavadiseases.pythonanywhere.com/#testimonial">Testimonial</a></li>
                                                <li><a href="https://cassavadiseases.pythonanywhere.com/#contact">Contact Us</a></li>


                                                <li><a href="#">Upload/App</a>
                                                    <ul class="dropdown">
                                                        <li><a href="{% url 'imageupload' %}">Upload Image</a></li>
                                                        <li><a href="{% url 'download_app' %}">Download App</a></li>
                                                    </ul>
                                                </li>

                                                {% if user.is_authenticated %}
                                                <li><a href="#">Dashboard</a>
                                                    <ul class="dropdown">
                                                        <li><a href="{% url 'registration' %}">Registrations</a></li>
                                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                                    </ul>
                                                </li>
                                                {% else %}
                                                <li><a href="#">Registration</a>
                                                    <ul class="dropdown">
                                                        <li><a href="{% url 'login' %}">Login</a></li>
                                                        <li><a href="{% url 'register' %}">Register</a></li>
                                                    </ul>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->

    <!-- contact -->

    <div id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Upload your <strong class="black"> Image</strong></h2>
                        <h3> <strong class="black"> <b>The neural network has been trained to recognise three cassava diseases </strong></h3>
                        <h4>Cassava brown streak virus<br> Cassava common mosaic virus<br> cassava green mottle virus</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid padddd">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 padddd">
            <div class="map_section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <form method="post" class="main_form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Name" type="file" name="{{form.image.name}}" id="id_{{form.image.name}}">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Label" type="text" name="{{form.label.name}}" id="id_{{form.label.name}}" value='None' readonly>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <button type="submit" class="send">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- end contact -->
    <!-- offer -->
    <div class="offer">
        <div class="offer-bg">
            <div class="container">
                <div class="row">
                    {% for image in images %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                        <div class="offer_box">
                            <h3>{% for label in image.0 %}{{label}}<br>{% endfor %}</h3>
                            <figure><img src="/media/{{image.1}}" alt="img" /></figure>
                            <p>{% if image.2 is True %} Processed{% else %} Not Processed {% endif %}</p>
                            <form method="get">
                                {% csrf_token %}
                                <div style="display:none;"><input name="delete" value="{{image.3}}"></div>
                                <button type="submit"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- end offer -->
    <!-- footer -->
    <!--  footer -->
    <footr>
        <div class="footer top_layer ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="address">
                            <a href="{% url 'home' %}"> <img src="/static/core/moon/images/logo.png" alt="logo" /></a>
                            <p>CDDR is a company that stands out, </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="address">
                            <h3>Quick links</h3>
                            <ul class="Links_footer">
                                <li><img src="/static/core/moon/icon/3.png" alt="#" /> <a href="#"> Join Us</a> </li>
                                <li><img src="/static/core/moon/icon/3.png" alt="#" /> <a href="#">Maintenance</a> </li>
                                <li><img src="/static/core/moon/icon/3.png" alt="#" /> <a href="#">Language Packs</a> </li>
                                <li><img src="/static/core/moon/icon/3.png" alt="#" /> <a href="#">LearnPress</a> </li>
                                <li><img src="/static/core/moon/icon/3.png" alt="#" /> <a href="#">Release Status</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="address">
                            <h3>Subcribe email</h3>
                            <p>Subscribe to ride the wave with us as we spread out tech cures to the rest of the world</p>
                            <input class="form-control" placeholder="Your Email" type="type" name="Your Email">
                            <button class="submit-btn">Submit</button>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="address">
                            <h3>Contact Us</h3>
                            <ul class="loca">
                                <li>
                                    <a href="#"><img src="/static/core/moon/icon/loc.png" alt="#" /></a>London 145
                                    <br>United Kingdom </li>
                                <li>
                                    <a href="#"><img src="/static/core/moon/icon/email.png" alt="#" /></a>demo@gmail.com </li>
                                <li>
                                    <a href="#"><img src="/static/core/moon/icon/call.png" alt="#" /></a>+12586954775 </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <p>© 2019 All Rights Reserved. Design By<a href="https://html.design/"> Free Html Templates</a></p>
            </div>
        </div>
    </footr>

    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{% static 'core/moon/js/jquery.min.js' %}"></script>
    <script src="{% static 'core/moon/js/popper.min.js' %}"></script>
    <script src="{% static 'core/moon/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/moon/js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'core/moon/js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'core/moon/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'core/moon/js/custom.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'core/moon/js/owl.carousel.js' %}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
    <script>
        // This example adds a marker to indicate the position of Bondi Beach in Sydney,
        // Australia.
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: {
                    lat: 40.645037,
                    lng: -73.880224
                },
            });

            var image = '/static/core/moon/images/maps-and-flags.png';
            var beachMarker = new google.maps.Marker({
                position: {
                    lat: 40.645037,
                    lng: -73.880224
                },
                map: map,
                icon: image
            });
        }
    </script>
    <!-- google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
    <!-- end google map js -->
</body>

</html>
