<html>
    <title>Plant Doctor</title>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <style>
            .contained {
                width:90%;
                margin:auto;
            }
        </style>
    </head>
    <body background="/media/uploads/green1.png" style="background-size: cover">
        <div class="contained p-0" style="height:65%;">
          <div class="row" style="margin-top:15%;">
            <div class="col-12">
                <center>
                <img src="/media/uploads/applogo.png" width="960px">
                <h1 class="pb-3" style="border-radius:90px;background-color:green;font-size:100px;color:white;opacity:0.8;"><b>PlantDoctor</b></h1>
                </center>
            </div>
          </div>
        </div>
        <div class="contained p-0" style="height:30%;">
          <div class="row" style="margin-top:5%;">
            <div class="col-12 pb-3">
              <a href="{% url 'app_login' %}" class="btn btn-block p-5" style="color:green;width:100%;background-color: white;font-size:60px;border-radius:90px;"><strong><b>SIGN IN</b></strong></a>
            </div>
            <div class="col-12">
              <a href="{% url 'register_user' %}" class="btn btn-block p-5" style="color:white;width:100%;background-color: black;font-size:60px;border-radius:90px;"><strong><b>REGISTER</b></strong></a>
            </div>
          </div>
        </div>
    </body>
</html>