{% extends 'app_dashboard_base.html' %}
{% load custom_tags %}
{% block content %}

        {% for disease in 'disease'|disease_database %}
        <div class="contained">
          <div class="row" style="margin-top:5%;">
            <div class="col-12 p-4" style="background-color:white;border:10px solid green;border-radius:30px;">

                <div class="row">
                    <div class="col-12">
                          <br>
                          <div class="row">
                                <div class="col-12 p-4">
                                    <div class="row">
                                        <label style="font-size:40px;">{{disease}}</label>
                                    </div>
                                </div>
                          </div>
                    </div>
                </div>

            </div>
          </div>
        </div>
        {% endfor %}
{% endblock %}







