{% extends 'app_dashboard_base.html' %}
{% load custom_tags %}
{% block content %}

        <div class="contained">
          <div class="row" style="margin-top:5%;">
            <div class="col-12 p-4" style="background-color:white;border:10px solid green;border-radius:30px;">

                <div class="row">
                    <div class="col-12">
                        <h1>Secondary Diagnosis set up confirmed</h1>
                        <h1>Soil Sample collection on the way</h1>
                        <h2>You will get an email notification,once a laboratory agrees to come for your soil sample</h2>
                        <div class="col-8 pull-right">
                            <a href="{% url 'view_secondary_diagnosis' diagnosis.id user.id %}" class="p-3" style="text-decoration:none;font-size:40px;float:right;border-radius:20px;color:white;background-color:#009E60;"><b>View Secondary Diagnosis</b></a>
                        </div>
                    </div>
                </div>

            </div>
          </div>
        </div>
{% endblock %}







