{% extends 'app_dashboard_base.html' %}
{% load custom_tags %}
{% block content %}

        <div class="contained">
          <div class="row" style="margin-top:5%;">
            <div class="col-12 p-4" style="background-color:white;border:10px solid green;border-radius:30px;">

                <div class="row">
                    <div class="col-12">
                        <h1>New Treatment Confirmed</h1>
                        <h1>A new prescription or diagnosis has been added to the diagnosis</h1>
                        <h2>You will get an email notification, confirmimg that and new treatmment of the above disease</h2>
                    </div>
                </div>

            </div>
          </div>
        </div>
{% endblock %}


