{% extends 'app_dashboard_base.html' %}
{% load custom_tags %}
{% block content %}

        <div class="contained">
          <div class="row" style="margin-top:5%;">
            <div class="col-12 p-4" style="background-color:white;border:10px solid green;border-radius:30px;">

                <div class="row">
                    <div class="col-12">
                        <h1>Secondary Diagnosis soil collection confirmed</h1>
                        <h1>Soil Sample collection agreed by laboratory</h1>
                        <h2>A laboratory has agreed to come for your soil sample</h2>
                        <h2>Check mail for more details</h2>
                    </div>
                </div>

            </div>
          </div>
        </div>
{% endblock %}
